<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tabel Barang</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tabel Barang 2021</div>
        <hr>
        <table>
            <tr th:each="tabel,count:${tabel_baru}">
                <td th:text="${count.count}"></td>
                <td th:text="${tabel[0]}"></td>
                <td th:text="${tabel[1]}"></td>
            </tr>
            </table>
        <br><hr>
        <table>
            <tr th:each="tabel,count:${tabel_apus}">
                <td th:text="${count.count}"></td>
                <td th:text="${tabel[0]}"></td>
                <td th:text="${tabel[1]}"></td>
            </tr>
            </table>
            Barang dicari = <l1 th:text="${barangdicari}"></l1>
    </body>
</html>